/* --------------------------------- Accordion Widget ------------------------------ */
.lae-accordion {
  clear: both; }
  .lae-accordion .lae-panel-title {
    display: block;
    cursor: pointer; }
  .lae-accordion .lae-panel-content {
    display: none;
    overflow: hidden; }

.lae-accordion-style1 .lae-panel .lae-panel-title, .lae-accordion-style3 .lae-panel .lae-panel-title {
  -webkit-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s; }
  .lae-accordion-style1 .lae-panel .lae-panel-title:after, .lae-accordion-style3 .lae-panel .lae-panel-title:after {
    font-family: 'lae-icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    content: "\e916";
    right: 30px;
    top: 50%;
    margin-top: -8px;
    font-size: 14px;
    line-height: 1;
    color: #666;
    font-weight: 700;
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s; }
.lae-accordion-style1 .lae-panel.lae-active .lae-panel-title:after, .lae-accordion-style3 .lae-panel.lae-active .lae-panel-title:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.lae-accordion-style2 .lae-panel .lae-panel-title {
  -webkit-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s; }
  .lae-accordion-style2 .lae-panel .lae-panel-title:after {
    font-family: 'lae-icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -9px;
    content: "\e917";
    color: #999;
    font-size: 18px;
    line-height: 1;
    -webkit-transition: color .3s ease-in 0s, transform .3s ease-in-out 0s;
    -webkit-transition: color .3s ease-in 0s, -webkit-transform .3s ease-in-out 0s;
    transition: color .3s ease-in 0s, -webkit-transform .3s ease-in-out 0s;
    transition: color .3s ease-in 0s, transform .3s ease-in-out 0s;
    transition: color .3s ease-in 0s, transform .3s ease-in-out 0s, -webkit-transform .3s ease-in-out 0s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
.lae-accordion-style2 .lae-panel.lae-active .lae-panel-title:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

/* ----- Style 1 ------ */
.lae-accordion-style1 .lae-panel {
  margin: 20px 0 0;
  background: #eee;
  border-radius: 5px;
  overflow: hidden; }
  .lae-accordion-style1 .lae-panel .lae-panel-title {
    position: relative;
    display: block;
    padding: 20px 50px 20px 30px;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0;
    font-weight: bold;
    color: #666;
    margin: 0; }
  .lae-accordion-style1 .lae-panel .lae-panel-content {
    background: #f8f8f8;
    padding: 30px 30px; }
  .lae-accordion-style1 .lae-panel:hover .lae-panel-title {
    background: #e2e2e2; }
  .lae-accordion-style1 .lae-panel.lae-active .lae-panel-title {
    color: #333;
    background: #e2e2e2; }
  .lae-accordion-style1 .lae-panel.lae-active .lae-panel-title:after {
    color: #333; }

/* ----- Style 2 ------ */
.lae-accordion-style2 .lae-panel {
  margin: 20px 0 0;
  color: #333;
  -webkit-transition: color .3s;
  transition: color .3s;
  position: relative; }
  .lae-accordion-style2 .lae-panel .lae-panel-title {
    position: relative;
    display: block;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    overflow: hidden;
    padding: 20px 50px 20px 30px;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0;
    font-weight: bold;
    color: #666;
    margin: 0;
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    z-index: 1; }
    .lae-accordion-style2 .lae-panel .lae-panel-title:before {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      height: 0;
      width: 100%;
      background: #4c5053;
      -webkit-transition: height 0.3s cubic-bezier(0.77, 0, 0.175, 1);
      transition: height 0.3s cubic-bezier(0.77, 0, 0.175, 1);
      z-index: -1; }
  .lae-accordion-style2 .lae-panel .lae-panel-content {
    padding: 20px 30px;
    border-color: #dcdcdc;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 5px 5px; }
  .lae-accordion-style2 .lae-panel:hover .lae-panel-title, .lae-accordion-style2 .lae-panel:hover .lae-panel-title:after {
    color: #fff;
    border-color: #333; }
  .lae-accordion-style2 .lae-panel:hover .lae-panel-title:before {
    height: 100%; }
  .lae-accordion-style2 .lae-panel.lae-active .lae-panel-title {
    background: #4c5053;
    color: #fff;
    border-radius: 5px 5px 0 0;
    border-color: #333; }
  .lae-accordion-style2 .lae-panel.lae-active .lae-panel-title:after {
    color: #fff; }

.lae-dark-bg.lae-accordion-style2 .lae-panel .lae-panel-title {
  color: #888;
  border-color: #404040; }
  .lae-dark-bg.lae-accordion-style2 .lae-panel .lae-panel-title:before {
    background: #e5e5e5; }
.lae-dark-bg.lae-accordion-style2 .lae-panel:hover .lae-panel-title {
  color: #333; }
.lae-dark-bg.lae-accordion-style2 .lae-panel:hover .lae-panel-title:after {
  color: #666; }
.lae-dark-bg.lae-accordion-style2 .lae-panel.lae-active .lae-panel-title {
  background: #e5e5e5;
  color: #333;
  border-color: #e5e5e5; }
.lae-dark-bg.lae-accordion-style2 .lae-panel.lae-active .lae-panel-title:after {
  color: #666; }
.lae-dark-bg.lae-accordion-style2 .lae-panel .lae-panel-content {
  border-color: #404040;
  color: #909090; }
  .lae-dark-bg.lae-accordion-style2 .lae-panel .lae-panel-content h1, .lae-dark-bg.lae-accordion-style2 .lae-panel .lae-panel-content h2, .lae-dark-bg.lae-accordion-style2 .lae-panel .lae-panel-content h3, .lae-dark-bg.lae-accordion-style2 .lae-panel .lae-panel-content h4, .lae-dark-bg.lae-accordion-style2 .lae-panel .lae-panel-content h5, .lae-dark-bg.lae-accordion-style2 .lae-panel .lae-panel-content h6 {
    color: #e5e5e5; }

/* ----- Style 3 ------ */
.lae-accordion-style3 .lae-panel {
  margin: 0;
  border-bottom: 1px solid #dcdcdc; }
  .lae-accordion-style3 .lae-panel:first-child {
    border-top: 1px solid #dcdcdc; }
  .lae-accordion-style3 .lae-panel .lae-panel-title {
    position: relative;
    display: block;
    padding: 20px 50px 20px 5px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    color: #666;
    margin: 0; }
  .lae-accordion-style3 .lae-panel .lae-panel-content {
    padding: 10px 50px 30px 5px; }
  .lae-accordion-style3 .lae-panel:hover .lae-panel-title {
    color: #333; }
  .lae-accordion-style3 .lae-panel.lae-active .lae-panel-title {
    color: #333; }
  .lae-accordion-style3 .lae-panel.lae-active .lae-panel-title:after {
    color: #333; }

.lae-dark-bg.lae-accordion-style3 .lae-panel {
  border-color: #404040; }
  .lae-dark-bg.lae-accordion-style3 .lae-panel .lae-panel-title {
    color: #b0b0b0; }
    .lae-dark-bg.lae-accordion-style3 .lae-panel .lae-panel-title:after {
      color: #888; }
  .lae-dark-bg.lae-accordion-style3 .lae-panel:hover .lae-panel-title {
    color: #eaeaea; }
  .lae-dark-bg.lae-accordion-style3 .lae-panel:hover .lae-panel-title:after {
    color: #aaa; }
  .lae-dark-bg.lae-accordion-style3 .lae-panel.lae-active .lae-panel-title {
    color: #eaeaea; }
  .lae-dark-bg.lae-accordion-style3 .lae-panel.lae-active .lae-panel-title:after {
    color: #aaa; }
  .lae-dark-bg.lae-accordion-style3 .lae-panel .lae-panel-content {
    color: #909090; }
    .lae-dark-bg.lae-accordion-style3 .lae-panel .lae-panel-content h1, .lae-dark-bg.lae-accordion-style3 .lae-panel .lae-panel-content h2, .lae-dark-bg.lae-accordion-style3 .lae-panel .lae-panel-content h3, .lae-dark-bg.lae-accordion-style3 .lae-panel .lae-panel-content h4, .lae-dark-bg.lae-accordion-style3 .lae-panel .lae-panel-content h5, .lae-dark-bg.lae-accordion-style3 .lae-panel .lae-panel-content h6 {
      color: #e5e5e5; }

/*# sourceMappingURL=accordions.css.map */