@import "../../lae-lib";


/* --------------------------- Services Carousel Widget ------------------------------ */

.lae-services-carousel-item {
  .lae-image-wrapper {
    position: relative;

    .lae-image-link:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      transition: opacity 0.4s ease-in-out 0s;
      opacity: 0;
    }

    &:hover {
      .lae-image-link:after {
        opacity: 1;
      }
    }

    img {
      margin: 0 0 20px 0;
    }
  }
}

.lae-services-carousel-item {
  .lae-service-text {
    padding: 20px 20px 30px;
    font-size: 15px;
    line-height: 24px;
  }

  .lae-title {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .lae-title-link .lae-title {
    color: #333;
    transition: color .3s ease-in-out 0s;
  }

  .lae-title-link:hover .lae-title {
    color: #666;
  }

  .lae-subtitle {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 5px;
    font-style: italic;
    color: #888;
  }

  .lae-read-more {
    display: block;
    text-decoration: underline;
    font-size: 14px;
    line-height: 22px;
    margin-top: 20px;
    padding: 0;
  }

  .lae-dark-bg & {
    .lae-service-text {
      color: #909090;
    }

    .lae-subtitle {
      color: #b5b5b5;
    }

    .lae-title, .lae-title-link .lae-title {
      color: #e5e5e5e5;
    }

    .lae-title-link:hover .lae-title {
      color: #b5b5b5;
    }
  }
}
